.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 251, 195);
  margin-bottom: 3rem;
  padding: 1rem;
}

.header-list {
  display: flex;
}

.header-list li {
  margin: 1rem;
  text-decoration: none;
  list-style-type: none;
}
